<h1>Angular Multi Step Form Example - Tutsmake.com</h1>
<h3>Create Product</h3>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
<mat-step [stepControl]="firstFormGroup">
<form [formGroup]="firstFormGroup">
<ng-template matStepLabel>Personal Details</ng-template>
<mat-form-field>
<mat-label>First name</mat-label>
<input matInput placeholder="First Name" formControlName="fname" required>
</mat-form-field>
<br/>
<mat-form-field>
<mat-label>Last name</mat-label>
<input matInput placeholder="Last Name" formControlName="lname" required>
</mat-form-field>
<div>
<button mat-button matStepperNext>Next</button>
</div>
</form>
</mat-step>
<mat-step [stepControl]="secondFormGroup">
<form [formGroup]="secondFormGroup">
<ng-template matStepLabel>Contact Details</ng-template>
<mat-form-field>
<mat-label>Email</mat-label>
<input matInput placeholder="Email" formControlName="email" required>
</mat-form-field>
<br/>
<mat-form-field>
  <mat-label>Mobile</mat-label>
  <input matInput placeholder="Mobile" formControlName="mobile" required>
  </mat-form-field>
  <br/>
<mat-form-field>
<mat-label>Country</mat-label>
<input matInput placeholder="Country" formControlName="country" required>
</mat-form-field>
<br/>
<div>
<button mat-button matStepperPrevious>Back</button>
<button mat-button matStepperNext>Next</button>
</div>
</form>
</mat-step>
<mat-step [stepControl]="thirdFormGroup">
  <form [formGroup]="thirdFormGroup">
  <ng-template matStepLabel>Skills</ng-template>
  <mat-form-field>
  <mat-label>Skill 1</mat-label>
  <input matInput placeholder="skill" formControlName="skill1" required>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-label>Skill 2</mat-label>
    <input matInput placeholder="skill" formControlName="skill2" required>
    </mat-form-field>
    <br/>
  <mat-form-field>
  <mat-label>Skill 3</mat-label>
  <input matInput placeholder="skill" formControlName="skill3" required>
  </mat-form-field>
  <br/>
  <div>
  <button mat-button matStepperPrevious>Back</button>
  <button mat-button matStepperNext>Next</button>
  </div>
  </form>
  </mat-step>
  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
    <ng-template matStepLabel>Work Experience</ng-template>
    <mat-form-field>
    <mat-label>Job 1</mat-label>
    <input matInput placeholder="job" formControlName="job1" required>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Job 2</mat-label>
      <input matInput placeholder="job" formControlName="job2" required>
      </mat-form-field>
      <br/>
    <mat-form-field>
    <mat-label>Job 3</mat-label>
    <input matInput placeholder="job" formControlName="job3" required>
    </mat-form-field>
    <br/>
    <div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
    </div>
    </form>
    </mat-step>
<mat-step>
<ng-template matStepLabel>Done</ng-template>
<p>You are now done.</p>
<mat-list>
<mat-list-item> <strong>First Name:</strong> {{ this.firstFormGroup.value.fname }}</mat-list-item>
<mat-list-item> <strong>Last Name:</strong> {{ this.firstFormGroup.value.lname }}</mat-list-item>
<mat-list-item> <strong>Email:</strong> {{ this.secondFormGroup.value.email }}</mat-list-item>
<mat-list-item> <strong>Mobile:</strong> {{ this.secondFormGroup.value.mobile }}</mat-list-item>
<mat-list-item> <strong>Country:</strong> {{ this.secondFormGroup.value.country }}</mat-list-item>
<mat-list-item> <strong>Skill 1:</strong> {{ this.thirdFormGroup.value.skill1 }}</mat-list-item>
<mat-list-item> <strong>Skill 2:</strong> {{ this.thirdFormGroup.value.skill2 }}</mat-list-item>
<mat-list-item> <strong>Skill 3:</strong> {{ this.thirdFormGroup.value.skill3 }}</mat-list-item>
<mat-list-item> <strong>Job 1:</strong> {{ this.fourthFormGroup.value.job1 }}</mat-list-item>
<mat-list-item> <strong>Job 2:</strong> {{ this.fourthFormGroup.value.job2 }}</mat-list-item>
<mat-list-item> <strong>Job 3:</strong> {{ this.fourthFormGroup.value.job3 }}</mat-list-item>

</mat-list>
<div>
<button mat-button matStepperPrevious>Back</button>
<button mat-button (click)="stepper.reset()">Reset</button>
<button mat-button (click)="submit()">Submit</button>
</div>
</mat-step>
</mat-horizontal-stepper>